<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>740146034592-rdh1clpf6lch8uqv9tmqvp7gg5n34nla.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.740146034592-rdh1clpf6lch8uqv9tmqvp7gg5n34nla</string>
	<key>API_KEY</key>
	<string>AIzaSyBHLykc7Wx9WAqP3rclfhE-AmEsffxqfBw</string>
	<key>GCM_SENDER_ID</key>
	<string>740146034592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Roman-Roman</string>
	<key>PROJECT_ID</key>
	<string>calculator-1015c</string>
	<key>STORAGE_BUCKET</key>
	<string>calculator-1015c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740146034592:ios:36dca27570473ec03e96c5</string>
	<key>DATABASE_URL</key>
	<string>https://calculator-1015c-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>